.navegation {
  position: sticky;
  height: 55px;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  color: white;
  background-color: black;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo_link {
  font-size: 1.5rem;
  font-weight: bold;
}
